.Rproj.user
.Rhistory
.RData
.Ruserdata
intro_R.html
intro_R.md
practical_r.html
practical_r.md
r_environment.html
r_environment.md
intro_R.html
intro_R.md
practical_r.html
practical_r.md
troubleshoot.html
troubleshoot.md
tutorial_draft.R
